<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/icon.png" />

    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>Cuenta Agua</th>
          <th>Monto Agua</th>
          <th>Cuenta Tasa</th>
          <th>Monto Tasas</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < Math.max(cuentasAgua.length, cuentasTasas.length);
        i++) { %>
        <tr>
          <td><%= cuentasAgua[i] || "-" %></td>
          <td><%= montosAgua[i] || "-" %></td>
          <td><%= cuentasTasas[i] || "-" %></td>
          <td><%= montosTasas[i] || "-" %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
